p,h1,h2,h3{
    margin: 0;
}
.sectionprincipal{min-width: none;}
.restodepagina{
    background-color:rgb(243, 237, 227);
    position: relative;
   min-height: 90vh;
    margin: 10px;
    border: 2px solid brown;
    display: flex;
    justify-content: center;
        
    }
    @media screen and (min-width:1023px ) and (orientation: landscape){
    
}