* {

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	cursor: pointer;
  
}
.restodepagina{
  background-color:rgba(243, 237, 227, 0.349);}
.fondobloque{ 
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  z-index: -100;}
.boton{
  width: 100%;
   display: block;
   padding: 15px;
   background-color: rgba(0, 0, 0, 0.562);
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   font-size: 2vh;
   box-sizing: border-box;
   position: relative;
   margin: auto;
   border-radius: 5px 5px 5px 5px;
   text-align: center;
}
body{
  margin:0;
	padding:0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
   max-width: 100vw;
   
   
    display: flex;
    flex-direction: column;
}
header{
    position: fixed;
   max-width: 100vw;
    height: 10vh;
    background-color: black;
    z-index: 1000;
}
main{
    position: relative;
    top: 10vh;
    max-width: 100vw;
}
.sectionprincipal{
  width: 100%;
   margin: auto;
  min-height: 90vh;
 
 overflow: hidden;
}

footer{
    max-width: 100vw;
    min-height: 10vh;
    background-color: indigo;
}
.header{
    position: relative;
    height: 100%;
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: row;
    animation-duration: 3s;                    
    animation-name: cabeceroabajo; 
   
}
#divcontenedorcabecero{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#divheaderimg{
    height: 100%;
    width: 9vh;
    display: flex;
    align-items: center;
}
#divheaderimg img{
    height: 90%;
    width: 9vh;
    
}
#divheadertitulo{
    width: calc(100% - 18vh);
    
    display: flex;
    align-items: center;
}
#divheadertitulo h1{
   
    font-size: 4vh;
    font-style: italic;
    margin: auto;
    color: whitesmoke;
    text-align: center;
  
}
#divheadermenu{
    height: 100%;
    width: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cabecerobotonmenu{
    margin-left: 1.5vh;     
    font-size: 6vh;
    color: whitesmoke;
    text-decoration: none;
    display: flex; }

    .navmenu,.navmenu5,.navmenu51,.navmenu52{
        right: -100%;
        display: flex;
        flex-direction: column;
         justify-content: space-around;
         width:100vw;
         height:90vh;
         margin:0;
         position: fixed;
         z-index: 100;
         top: 10vh;
         background-color: rgb(49, 49, 49);
         
        
         
     }
     .navmenu5{
      justify-content: flex-start;
      
       
   }
   .navmenu51,.navmenu52{
     background-color:transparent;
     height: 60vh;
     top: 30vh;
   }
   #volver1{
    height: 5vh
    ;
   }
       
     
 #listamenus,#listamenus5,#listamenus51,#listamenus52{
     padding: 0;
     height: 70%;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
   }
   #listamenus5{
     height: 20%;
   }
 #listamenus li,#listamenus5 li,#listamenus51 li,#listamenus52 li{
     display: flex;
     justify-content: center
 }
 #listamenus li a{
     text-align: center;
 }
 #listamenus5 li a,#listamenus51 li a,#listamenus52 li a{text-align: left;}
    .navpie01,.navpie011{
         
         display:block;
         float:none;
         border-bottom:1px solid white;
         text-align: right;
         color: white;
         font-style: normal;
         text-decoration: none;
         height: auto;
        
         width: 80%;
         letter-spacing: .2em;
         font-size: 2.5vh;
     }
     .navpie011{
       width: 80%;
     }
     .iconosredes{
       padding: 0;
         display:flex;/*justificar ancho*/
         justify-content: space-around;;/*justificar ancho*/
         align-items: center;/*justificar alto*/
        
     }
     .iconosredes li{
         
         display:block;
         float:left;
         
 
     }
     .navpie1  {
         text-decoration: none;
         padding:2px 2px;
         color:white;
         font-size: 3vh;
         
     }
     #footer{
        bottom: 0px;
        width: 100%;
       display: flex;
       flex-direction: column;
        align-items: center;
        background-color: black; 
    }
    .primeralinea{width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    padding: 5px;}
    .iconosredess{
      list-style: none;
    }
    .iconosredess {
    display: flex;
    width: 100%;
    justify-content: space-around;
        align-items: center;
        
    }
    
    #imagenfooter{
     
    display: flex;
      height: 5vh;
      padding: 5px;
      flex-direction: column;
      align-items: center;
    }
    #textofooter{
      margin: 10px;
    }
    #textofooter p{
      font-size:2vh;
      width:100%;
      text-align: center;
      color: aliceblue;
      margin: auto;
    }
@media screen and (min-width:1023px )and (orientation: landscape) {
.controlnavmenuu{right: -100vw;}
#volver1{display: none;}
header{height: 14vh;
    
}
.navmenu5{
 
   top: auto;
  }
  .navmenu51,.navmenu52{top: 30vh;}
.header{
    flex-direction: column;

}

main{top: 14vh;}
#divheadertitulo h1{font-size: 6vh;
 }
 #divheaderimg{
    height: 100%;
    width: 9vh;
    display: flex;
    align-items: center;
    margin-left: 5vw;
}
#divheaderimg img{
    height: 90%;
    width: 9vh;
    
}
#divheadertitulo{
    width: calc(100% - 30vh);
    
    display: flex;
    align-items: center;
}


#divcontenedorcabecero{
    height: 10vh;
}
#divcontenedornav{
   
    height: 4vh;
}
.navmenu{
    right: 0;
    height: 4vh;
    align-items: center;
   
    
}
#listamenus{
    display: flex;
    margin: 0;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
}

.navpie01{padding: 0;
    border-bottom: none;
    font-size: 2vh;}
    #listamenus li{width: auto; align-items: center;}
    #listamenus li a{
        align-items: center;width:auto ;
    }  

    #divheadermenu {
        
        display: none;
       }
       .iconosredes{
           position: absolute;
           width: 20vw;
           top: -10vh ;
            right: 0;
}
}
@keyframes cabeceroabajo {
    0%{top: -190px;}
    40% {}
    50%{top: 0px;}
    60%{top: 5px;}
    70%{top: 0px; }
    80%{top: 3px;}
    90%{ top:0px;}
    95%{top: 1px;}
    100% {top: 0px;} }
    .js-scroll {
        opacity: 0;
        transition: opacity 500ms;
      }
      
      .js-scroll.scrolled {
        opacity: 1;
      }
      .scrolled.fade-opacidad {
        animation:opacidad 2s ease-in-out both;
      }
      @keyframes opacidad {
        from {
          opacity: 0;
        }
      
        to {
         opacity: 1;
        }
      }
      .scrolled.fade-derecha {
        animation: slide-in-right 1s ease-in-out both;
      }
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(100px);
          transform: translateX(100px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
    
      }
      .scrolled.fade-abajo {
        animation: slide-in-down 1s ease-in-out both;
      }
      @keyframes slide-in-down {
        0% {
          -webkit-transform: translatey(100px);
          transform: translatey(100px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translatey(0);
          transform: translatey(0);
          opacity: 1;
        }
    
      }
     
 

 
.boton-subir,
.politicas-cookie{
 position: fixed;
 z-index: 100000;
}

.politicas-cookie{
 display: none;
 background: #0F2027;
 background-color: rgba(0, 0, 0, 0.308);
 position: relative;
 right: 0;
 bottom: 0;
 left: 0;
 padding:  10px;
 height: 98vh;
}
.info-cookie{
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 justify-content: center;
 color:  #fff;
 font-size: 1.2em;
 margin-bottom: 0;
 margin-top: 0;
}
.link-politica-cookie{
 color: #fff;
 margin:  0 5px;
}
.boton-cookie{
 display: flex;
 color: #fff;
 background: #FF91A6;
 border-radius: 15px;
 margin-left: 5px;
 padding: 4px 10px;
 text-decoration: none;
 transition: .5s;
}
.boton-cookie:hover{
 background: #F95977;
}
