* {
	margin:0;
	padding:0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}
@media screen and (min-width:800px ) {
  /*CABECERO */
  @keyframes cabeceroabajo {
    0%{top: -190px;}
    40% {}
    50%{top: 0px;}
    60%{top: 5px;}
    70%{top: 0px; }
    80%{top: 3px;}
    90%{ top:0px;}
    95%{top: 1px;}
    100% {top: 0px;} }
    #cabecerogeneralanimado{
        z-index: 100;
        width: 100vw;
        max-width: 100%;
        height: 10vh;
        background-color: black;
        position: fixed;
        top: 0;
        display: flex;
        animation-duration: 3s;                    
        animation-name: cabeceroabajo; }
        #cabecerogeneral{
            z-index: 100;
            width: 100vw;
            max-width: 100%;
            height: 10vh;
            background-color: black;
            position: fixed;
            top: 0;
            display: flex;
            }
    #divcontenedorcabecero{
        width: 100%;
        height: 100%;
        display: flex; }
        #divheaderimg{
        height: 100%;
        width: 9vh;
        display: flex;
        align-items: center }
    #divheaderimg img{
        height: auto;
        width: 100%       }
  
        #divheadertitulo{
        height: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;}
        #divheadertitulo h1{
        color: whitesmoke;
       font-size: 5vh;
       
        text-align: center;
        font-style: italic;}

        #divheadermenu{
        height: 100%;
        width: 8vh;
        
        display: flex;
        align-items: center;
        justify-content: center;}
        #cabecerobotonmenu{
           
            font-size: 30px;
            color: whitesmoke;
            text-decoration: none;
            display: flex; }
           .navmenu {
               right: -100%;
               display: flex;
               flex-direction: column;
                justify-content: space-around;
                width:100vw;
                height:90vh;
                margin:0;
                position: fixed;
                z-index: 100;
                top: 10vh;
                background-color: rgb(49, 49, 49);
                
               
                
            }
                
            
        #listamenus{
            padding: 0;
            list-style:none;
           
            
        }
        #listamenus li{
            display: flex;
            justify-content: center
        }
        #listamenus li a{
            text-align: center;
        }
           .navpie01{
                
                display:block;
                float:none;
                border-bottom:1px solid white;
                text-align: right;
                color: white;
                font-style: normal;
                text-decoration: none;
                height: auto;
                padding: 15px 0px;
                width: 50%;
                letter-spacing: .2em;
                font-size: 2.5vh;
            }
            .iconosredes{
                display:flex;/*justificar ancho*/
                justify-content: space-around;;/*justificar ancho*/
                align-items: center;/*justificar alto*/
                padding:15px 5px 15px 5px;
            }
            .iconosredes li{
                
                display:block;
                float:left;
                
        
            }
            .navpie1  {
                text-decoration: none;
                padding:2px 2px;
                color:white;
                font-size: 3vh;
                
            }
/*MAIN*/
.boton{
width: 100%;
display: block;
padding: 15px;
background-color: rgba(0, 0, 0, 0.562);
color: #fff;
text-decoration: none;
font-weight: bold;
font-size: 2vh;
box-sizing: border-box;
position: relative;
margin: auto;
border-radius: 5px 5px 5px 5px;
text-align: center;
}

.separador{
width: 100%;
height: 5vh;
background-color: brown;
background-image: url(../imagenes/separador.png);
background-position: center;
background-size: 30%;
background-repeat: no-repeat;
}
.js-scroll {
opacity: 0;
transition: opacity 500ms;
}

.js-scroll.scrolled {
opacity: 1;
}
.scrolled.fade-opacidad {
animation:opacidad 2s ease-in-out both;
}
@keyframes opacidad {
from {
  opacity: 0;
}

to {
 opacity: 1;
}
}
.scrolled.fade-derecha {
animation: slide-in-right 1s ease-in-out both;
}
@keyframes slide-in-right {
0% {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
}
100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

}
.scrolled.fade-abajo {
animation: slide-in-down 1s ease-in-out both;
}
@keyframes slide-in-down {
0% {
  -webkit-transform: translatey(100px);
  transform: translatey(100px);
  opacity: 0;
}
100% {
  -webkit-transform: translatey(0);
  transform: translatey(0);
  opacity: 1;
}

}
#footer{
top: 10vh;
width: 7%;
right: 0;
display: flex;
flex-direction: column;
align-items: center;
background-color: black; 
}
.primeralinea{width: 90%;
display: flex;
justify-content: space-around;
align-items: center;
height: 50%;
padding: 5px;}
.iconosredess{
list-style: none;
}
.iconosredess {
display: flex;
flex-direction: column;
height:  100%;
justify-content: space-around;
align-items: center;

}

#imagenfooter{
display: none;
/*display: flex;*/
height: 5vh;
padding: 5px;
flex-direction: column;
align-items: center;
}
#textofooter{
margin: 10px;
}
#textofooter p{
font-size:2vh;
width:100%;
text-align: center;
color: aliceblue;
margin: auto;
}
body{overflow: hidden;}
}

body{
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    display: block;
 
}

main{
    width: 100%;
    max-width: 100%;
    background-color: whitesmoke;
    min-height: 90vh;
   
    position: relative;
    display: block;
   
}
@media screen and (max-width:800px ) {
/*CABECERO */
        @keyframes cabeceroabajo {
        0%{top: -190px;}
        40% {}
        50%{top: 0px;}
        60%{top: 5px;}
        70%{top: 0px; }
        80%{top: 3px;}
        90%{ top:0px;}
        95%{top: 1px;}
        100% {top: 0px;} }
        #cabecerogeneralanimado{
            z-index: 100;
            width: 100vw;
            max-width: 100%;
            height: 10vh;
            background-color: black;
            position: fixed;
            top: 0;
            display: flex;
            animation-duration: 3s;                    
            animation-name: cabeceroabajo; }
            #cabecerogeneral{
                z-index: 100;
                width: 100vw;
                max-width: 100%;
                height: 10vh;
                background-color: black;
                position: fixed;
                top: 0;
                display: flex;
                }
        #divcontenedorcabecero{
            width: 100%;
            height: 100%;
            display: flex; }
            #divheaderimg{
            height: 100%;
            width: 9vh;
            display: flex;
            align-items: center }
        #divheaderimg img{
            height: auto;
            width: 100%       }
      
            #divheadertitulo{
            height: 100%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;}
            #divheadertitulo h1{
            color: whitesmoke;
           font-size: 5vh;
           
            text-align: center;
            font-style: italic;}

            #divheadermenu{
            height: 100%;
            width: 8vh;
            
            display: flex;
            align-items: center;
            justify-content: center;}
            #cabecerobotonmenu{
               
                font-size: 30px;
                color: whitesmoke;
                text-decoration: none;
                display: flex; }
               .navmenu {
                   right: -100%;
                   display: flex;
                   flex-direction: column;
                    justify-content: space-around;
                    width:100vw;
                    height:90vh;
                    margin:0;
                    position: fixed;
                    z-index: 100;
                    top: 10vh;
                    background-color: rgb(49, 49, 49);
                    
                   
                    
                }
                    
                
            #listamenus{
                padding: 0;
                list-style:none;
               
                
            }
            #listamenus li{
                display: flex;
                justify-content: center
            }
            #listamenus li a{
                text-align: center;
            }
               .navpie01{
                    
                    display:block;
                    float:none;
                    border-bottom:1px solid white;
                    text-align: right;
                    color: white;
                    font-style: normal;
                    text-decoration: none;
                    height: auto;
                    padding: 15px 0px;
                    width: 50%;
                    letter-spacing: .2em;
                    font-size: 2.5vh;
                }
                .iconosredes{
                    display:flex;/*justificar ancho*/
                    justify-content: space-around;;/*justificar ancho*/
                    align-items: center;/*justificar alto*/
                    padding:15px 5px 15px 5px;
                }
                .iconosredes li{
                    
                    display:block;
                    float:left;
                    
            
                }
                .navpie1  {
                    text-decoration: none;
                    padding:2px 2px;
                    color:white;
                    font-size: 3vh;
                    
                }
/*MAIN*/
.boton{
   width: 100%;
    display: block;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.562);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.separador{
    width: 100%;
    height: 5vh;
    background-color: brown;
    background-image: url(../imagenes/separador.png);
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
}
.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .js-scroll.scrolled {
    opacity: 1;
  }
  .scrolled.fade-opacidad {
    animation:opacidad 2s ease-in-out both;
  }
  @keyframes opacidad {
    from {
      opacity: 0;
    }
  
    to {
     opacity: 1;
    }
  }
  .scrolled.fade-derecha {
    animation: slide-in-right 1s ease-in-out both;
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }

  }
  .scrolled.fade-abajo {
    animation: slide-in-down 1s ease-in-out both;
  }
  @keyframes slide-in-down {
    0% {
      -webkit-transform: translatey(100px);
      transform: translatey(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
      opacity: 1;
    }

  }
  #footer{
    bottom: 0px;
    width: 100%;
   display: flex;
   flex-direction: column;
    align-items: center;
    background-color: black; 
}
.primeralinea{width: 90%;
display: flex;
justify-content: space-around;
align-items: center;
height: 5vh;
padding: 5px;}
.iconosredess{
  list-style: none;
}
.iconosredess {
display: flex;
width: 100%;
justify-content: space-around;
    align-items: center;
    
}

#imagenfooter{
 
display: flex;
  height: 5vh;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}
#textofooter{
  margin: 10px;
}
#textofooter p{
  font-size:2vh;
  width:100%;
  text-align: center;
  color: aliceblue;
  margin: auto;
}}