p,h1,h2,h3{
    margin: 0;
}
.sectionprincipal{min-height:auto;
}
.restodepagina{
   
    position: relative;
   min-height: 90vh;
    margin: 10px;
    border: 2px solid brown;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    flex-direction: column;
        
    }
    .fondobloque{ 
        
        background-image: url(../imagenes/fondosfijos/red.png);
       
    opacity: 1;
   
    

    }
    .articulo1proximospartidos{
        margin: 3px;
     /* background-color: rgba(255, 255, 255, 0.529);*/
       max-width: 100%;
        height: auto;
    }
    .art1titulo{
        display: flex;
        width: 100%;
        flex-direction: column;
    align-items: center;
    margin: 3px;
    }
    .art1titulo h2{
        padding: 2px;
        
        
    }
    .art1seccion{
       
       
        border-bottom: brown 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;}
        .art1seccion h3{  width: 100%; 
            text-align: center;
            background-color: rgb(206, 190, 168);
            border-bottom: brown 1px solid;
            border-top: brown 1px solid;
            }


            .art1sec1partidos,.art1sec2partidos,.art1sec3partidos{
                width: 100%;
            }
            .partido{
               
                margin: 3px;
                display: flex;
                flex-direction: column;
                border: brown 1px solid;
               
               
            }
            .linea1{
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                background-color: rgb(241, 231, 216);}
            .linea2{display: flex;
                flex-direction: row;
                justify-content: space-around;
                background-color: rgb(224, 214, 198);
                height:calc(3vh + 6px);
           }
                .local,.visitante{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 3px;
                }
                .escudo{height: 100%;
                         width: 3vh;
                        margin: 3px;}
                    .escudo img{
                        width: 100%;
                        height: 100%;
                    }
                    .competicion{width: 42%;
                    text-align: left;}
                    .categoria{width: 23%;}
                    .dia{width: 19%;}
                    .hora{width: 14%;text-align: right;}

                .articuloporcategorias{
                   
                    margin: 3px;
                    
                   max-width: 100%;
                    height: auto;
                    min-height: 90vh;
                }
                .selectores {display: flex;
                    height: auto; 
                   width: 100%;
                flex-direction: column;
                }
                .selectoreslinea{
                    width:100%;
                    display: flex;
                    flex-direction: row;
                }
                .selector{ width: 50%;}
                .selector select{height: 100%;
                    width: 100%;
                  
                    font-size: 1.17em;
                    
                    font-weight: bold;}
                    .tituloselector{height: 100%;
                       
                        font-size: 1em;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        font-weight: bold;}

                        .contenedorarticuloporcategorias{
                          /*  background-color: rgba(255, 255, 255, 0.529);*/
                            min-height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                        }
                        #titulocategoriaseleccionada{
                            text-align: center;
                        }
                        #tabla{margin: 5px; }
                        
                        .seccionprincipal{min-height: auto;}
                        td img{
                            width: 25px;
                        }
                        td{
                           
                            
                            border: none;
                            text-align: center;
                        }
                        tr{background-color: transparent;}
                        #tabla2{width: 100%;}
                        #tabla tr{ background-color: rgba(255, 255, 255, 0.529);}
                        table{width: 100%;
                          

                        }
                        #tabla2 tbody{width: 100%;}
                        #tabla2 td{width: 33%;}
                        #tabla2 .estrecha{width: 13%;}
@media screen and (min-width:1023px ) and (orientation: landscape){
    
}