p,h1,h2,h3{
    margin: 0;
}
.sectionprincipal{min-height:auto;
}
.restodepagina{
   
    position: relative;
   min-height: 90vh;
    margin: 10px;
    border: 2px solid brown;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    flex-direction: column;
        
    }
    .fondobloque{ 
        
        background-image: url(../imagenes/equipos.JPG);
       
    opacity: 0.5;
   }
   #seccionequipos{
       display: flex;
       flex-direction: column;
height: 100%;
   }
   .bloqueequipos{
       display: flex;
       flex-direction: column;
       
   }
    .bloqueequipo{
       
        height: 20vh;
       
        display: flex;
        flex-direction: row;
    }
    .tituloequipo{display: flex;
        width: 40%;
        justify-content: flex-start;
        align-items: center;
    text-align: center;
    }
    .imagenequipo{
        width: 60%;
        
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    section img{
       max-width: 90%;
        max-height: 80%;
    }
   
    @media screen and (min-width:1023px ) and (orientation: landscape){
        .bloqueequipos{
            height: 100%;
            flex-direction: row;
        }
        .bloqueequipo{
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;
        }
        #seccionequipos{
            height: 60vh;
        }
        .imagenequipo{width: 100%;height: 80%;}
        .tituloequipo{width: 100%;flex-direction: column;height: 20%;}
}