p,h1,h2,h3{
    margin: 0;
}
.sectionprincipal{min-width: none;}
.restodepagina{
    
    position: relative;
   min-height: 90vh;
    margin: 10px;
    border: 2px solid brown;
    display: flex;
    align-items: center;
    flex-direction: column;}
     .titulo{
         margin: 5px;
     } 
     .contenedorubicaciones{
        align-items: center;
         width: 100%;
         display: flex;
         flex-direction: column;
     }
     .pde{
         border: 2px solid rgb(224, 218, 207);
         width: 90%;
         margin: 3px;
     }
     .hierba{
         height: 15vh;
         text-align: center;
         margin: 2px;
     }
     .hierba img{
         height: 100%;

     }
     .datos h3,p{
        z-index: 200;
        margin: 3px;
        
        
    }
     .datos{
         display: flex;
         flex-direction: column;
         text-align: center;
         
         
     }
     .datos a{
         text-align: center;
         text-decoration: none;
         color: black;

     }
     .datos span{
        text-align: center;
        text-decoration: none;
        color: brown;
    }
    .fondobloque{ 
        
        background-image: url(../imagenes/fondosfijos/zaragoza.png);
      opacity: 0.2;
    

    }
     
   
    @media screen and (min-width:1023px ) and (orientation: landscape){
        .contenedorubicaciones{
            align-items: center;
             width: 100%;
             display: flex;
             flex-direction: row;
         }
}