
 main{
    
    background-color: black;}
    .section1{
        margin: 0;
        height: calc(90vh - 76px);
        background-image:url(../imagenes/sudadera2.jpg);
        display: flex; 
        flex-direction: column;
        justify-content: flex-end;
        }
        
        .articlenoticia{
            margin: 0 2em;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
    margin-bottom: 25px;
        }
        
    
    .article1{
      /* top: calc(95% - 210px);*/
       min-height: 210px;
       z-index: 100;
       margin-bottom: 20px;
       padding-top: 30px;
       
      }
   
     
    .articulo1masinfoarticle1{
        position: absolute;
        right: 0px;
        bottom: 3%;
       
    }
    .expandido{
        display: block;
        }
     .textoarticulo{
        padding: 10px;
        margin-bottom: 30px;
        display: none;
    }
       
    
    .imagencortaarticle{
        height:15vh;
        width: calc(100% + 40px);
        object-fit: cover;
        margin-bottom: 15%;
        position: relative;
        top: -20px;
        left: -20px;
    }
    .imagencortaarticlenoticia{
        height: 22vh;
        object-fit: cover;
        min-height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
  
   
  
  .fechanoticia {
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 20;
        padding: 0;
         width: 100%;
        text-align: end;
      }
      .titulonoticia{
        position: absolute;
        bottom: 30px;
        left: 0;
        z-index: 20;
        padding: 0;
         width: 100%;
        text-align: center;
      }
      .fechanoticia p{
          color: white;
          margin: 0;
            display: inline-block;}
            .titulonoticia p{
                margin: 0;
                color: white;
                font-size: 1.5em;
            }
          .fechanoticia span{color: white;}
      
     
      


   
.partido{padding: 20px 0;}
.partido,.finalpartido{border-top: black 3px dotted;}
.partido h4{
    text-align: center;
    
}
.escudos{
    display: flex;margin: 10px 0px;
}
.partido .local,.visitante{
    display: flex;
    flex-direction: column;
}
.partido .equipo{
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;}
.partido .escudo{width: 30px;

}
.escudos h5{
    font-size: 2em;
    font-weight: bold;
    width: 150%;
   
   
}
.division{
    font-weight: bold;
    width: 150%;
    position: relative;
    right: 25%;
    text-align: center;
   
}
.partido h4{
    font-weight: lighter;
    width: 150%;
    position: relative;
    right: 25%;}
    #contenedorproximospartidos{display: none;}
   