
@media screen and (min-width:800px ) {

    .restodepagina{display: flex;
    top: 10vh;
height: 90vh;}
    .separador{display: none;}
    
    
    #indexarticulo1{
        width: 50%;
        height: 100%;
        background-image: url(../imagenes/sudadera.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;}
    @keyframes opacidad {
        0%{opacity: 0;}
        100% {opacity: 1;} }

    #indexarticulo1textopresentacion{
        font-size: 2.5vh; 
        position: relative; 
        top: 50%;
        animation-duration: 2s;                    
        animation-name: opacidad;
        display: block;
        max-height: 40%;}
    #indexarticulo1textopresentacion h2{
        color: whitesmoke;
        text-align: center;
        font-style: italic;
        display: block;       }
    #indexarticulo1boton{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 10px;}
    /*ARTICULO2*/
    #indexarticulo2{
       
       
        width: 55%;
        left: 50%;
        height: 44vh;
        top: 51%;
      display: flex;
        justify-content: center;
        left: 44.7%;
    
    }  
    #cuerpoindexarticulo2{
    
       position: relative; 
        width: 100%;
        height: 50%;
        margin: 10px;
        height: auto;
    }  
    #indexart2carrusel{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
      
    }   
    #imagencarrusel {
    
        transition: background-image 0.5s ease-in-out;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }  
    #titulonoticiaimagen{
       
        text-align: center;
        position:absolute;
        color: whitesmoke;
        bottom:3px;
        background-color: rgba(0, 0, 0, 0.562);
        font-size: 2vh;
        overflow: visible;
       width: 95%;
        padding: 3px;
    }   

/*ARTICULO3   ECUELAS*/
#indexarticulo3{
   position: absolute;
top: 48%;
left: 44.7%;
width: 55%;

height: 50%;
/*display: flex;*/
justify-content: center;

} 
#cuerpoindexarticulo3{
    
background-color: brown;

margin: 10px;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}  
#titulocuerpo3{
    position: relative;
   left: 15%;
height: 7vh;
display: flex;
align-items: center;
width: 70%;
color: whitesmoke;
justify-content: center

}
#titulocuerpo3 h1{
    
text-align: center;
font-size: 2em;


}
#fotocuerpo3{
    position: absolute;
    opacity: 1;
width: 30%;
height: 100%;
left: 0;
display: flex;
justify-content: space-evenly;
overflow: hidden;
align-items: center;

}
#botonescuerpo3{
    top: 15%;
    position: relative;
    left: 15%;
width: 70%;
}


#textoscuerpo3{ 
    position: relative;
    left: 15%;
width: 70%;
    opacity: 1;text-align: center ;
margin:10px 0px;}
#textoscuerpo3 h2{
    opacity: 1;
font-size: 1.2em;
}
#p1cuerpo3{
    opacity: 1;

color: whitesmoke;
animation-duration: 1s;
}
#p2cuerpo3{
    opacity: 1;

padding: 10px;
animation-duration: 2s;
}
#p3cuerpo3{
    opacity: 1;
animation-duration: 2s;
}
#botonescuerpo3 .boton{
margin: 5px 0px;

}
}



@media screen and (max-width:800px ) {
/*ARTICULO1*/
        #indexarticulo1{
            width: 100%;
            height: 100vh;
            background-image: url(../imagenes/sudadera.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;}
        @keyframes opacidad {
            0%{opacity: 0;}
            100% {opacity: 1;} }

        #indexarticulo1textopresentacion{
            font-size: 2.5vh; 
            position: relative; 
            top: 50%;
            animation-duration: 2s;                    
            animation-name: opacidad;
            display: block;
            max-height: 40%;}
        #indexarticulo1textopresentacion h2{
            color: whitesmoke;
            text-align: center;
            font-style: italic;
            display: block;       }
        #indexarticulo1boton{
            width: 60vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 10px;}
        /*ARTICULO2*/
        #indexarticulo2{
            position: relative;
            width: 100%;
            height: 70vh;
        
            display: flex;
            justify-content: center;
        
        }  
        #cuerpoindexarticulo2{
        
            
            width: 100%;
            margin: 10px;
            height: auto;
        }  
        #indexart2carrusel{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
          
        }   
        #imagencarrusel {
        
            transition: background-image 0.5s ease-in-out;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }  
        #titulonoticiaimagen{
            text-align: center;
            position:absolute;
            color: whitesmoke;
            bottom:15px;
            background-color: rgba(0, 0, 0, 0.562);
            font-size: 2vh;
            overflow: visible;
            width: 90%;
            padding: 3px;
        }   

  /*ARTICULO3   ECUELAS*/
  #indexarticulo3{
    position: relative;
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: center;

} 
#cuerpoindexarticulo3{
        
    background-color: brown;
    width: 100%;
    margin: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}  
#titulocuerpo3{
    height: 7vh;
    display: flex;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    justify-content: center
   
}
#titulocuerpo3 h1{
   width: 100%;
   text-align: center;
   font-size: 2em;


}
#fotocuerpo3{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    align-items: center;
    
}
#fotocuerpo3 img{
    width: 80%;
    height: auto;
   
}

#textoscuerpo3{ text-align: center ;
margin:10px 0px;}
#textoscuerpo3 h2{
    font-size: 1.2em;
}
#p1cuerpo3{
    
    color: whitesmoke;
    animation-duration: 1s;
}
#p2cuerpo3{
   
   padding: 10px;
   animation-duration: 2s;
}
#p3cuerpo3{
    animation-duration: 2s;
}
#botonescuerpo3 .boton{
    margin: 5px 0px;

}
}


