.mainnoticias{
    background-color: cornsilk;
   top: 10vh;
   min-height: 80vh;
    
}
footer{
    top: 10vh;
}

.restodepagina{
    background-color: whitesmoke;
        position: relative;
        width: 100%;
        min-height: 80vh;
        display: flex;
        justify-content: center;
    }
    section{
        margin: 10px;
        background-color:rgb(243, 237, 227);
        width: 100%;
        display: flex;
        flex-direction: column;
        
       
    }
.seleccionpagina{
    width: 100%;
    background-color: brown;
    
    
}
.ulavance{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0px;
}
.ulavance a{
    color: cornsilk;
    text-decoration: none;
    font-size: 2.5vh;
}
.imagennoticia{
    height: 40vh;
    
background-position: center;
background-size: contain;
background-repeat: no-repeat;

}
.noticia{
    padding:  5px 5px;
    font-size: 1em;
    border: 1px solid #000;
    flex-direction: column;
    display: block;
}
.p2noticias{
    font-size: 80%;
    text-align: right;
    margin-right: 5%;
}
.h1noticias{
    text-align: center;
}
.p1noticias{
    font-size: 90%;
    margin-top: 3px;
}
.subrallado{
    display: block;
    margin-left: auto;
    
    height: 1px;
    width: 70%;
  margin-top: 3px;
  margin-bottom: 3px;
    background-color: black; 
}
.subralladoi{
    display: block;
    margin-right: auto;
    
    height: 1px;
    width: 70%;
  margin-top: 3px;
  margin-bottom: 3px;
    background-color: black; 
}
