p,h1,h2,h3{
    margin: 0;
}

.sectionprincipal{border: none;max-width: 100%; min-height: 80vh;
}
.restodepagina{
    
    position: relative;
   
    min-height: 80vh;
    display: flex;
    justify-content: center;
    background-color:rgba(243, 237, 227, 0.349);
    position: relative;
   
    margin: 10px;
    border: 2px solid brown;
    /*display: flex;*/
    justify-content: center;
}
.fondobloque{ 
    
    background-image: url(../imagenes/fondosfijos/noticiasweb.jpg);
  opacity: 0.2;


}

    .mainnoticia{
        background-color: cornsilk;
       top: 10vh;
       min-height: 80vh;
        
    }
    footer{
        top: 10vh;
    }
    
   
        section{
           
          
           width: 100%;
            display: flex;
            flex-direction: column;
            
            min-height: 70vh;
            
           
        }
        #imagencarrusel {
    
            transition: background-image 3.5s ease-in-out;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }  
        .imagennoticia{
           
            height: 40vh;
          margin: 5px; 
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
        }
        #primeranoticia2{
            transition: background-image 1.5s ease-in-out;
        }
        .noticia{
            padding:  5px 5px;
            font-size: 1em;
            border: 1px solid #000;
            flex-direction: column;
            display: block;
        }
        .p2noticias{
            font-size: 80%;
            text-align: right;
            margin-right: 5%;
        }
        .h1noticias{
            text-align: center;
        }
        .p1noticias{
            text-align: center;
            font-size: 90%;
            margin-top: 3px;
        }
        .subrallado{
            display: block;
            margin-left: auto;
            
            height: 1px;
            width: 70%;
             margin-top: 3px;
             margin-bottom: 3px;
            background-color: black; 
        }
        .subralladoi{
            display: block;
            margin-right: auto;
            
            height: 1px;
            width: 70%;
            margin-top: 3px;
            margin-bottom: 3px;
            background-color: black; 
        }
        .divisiontexto{
            align-items: center;
            margin :8px;
            min-height: 30vh;
            display: flex;
            flex-direction: column;
        }
        .seleccionpagina{
            
           
            background-color: brown;
            right: 10px;
            left: 10px;
            bottom: 10px;
            
            
        }
        .ulavance{
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 10px 0px;
            margin: 0;
        }
        .ulavance a{
            color: cornsilk;
            text-decoration: none;
            font-size: 2.5vh;
        }
       
    @media screen and (min-width:1023px ) {
        .p1noticias{width: 60%;}
    
}
@media screen and (min-width:1023px ) and (orientation: landscape){
    .p1noticias{width: 60%;}

}