
.sectionprincipal{min-width: none;}
.fondobloque{ 
        
    background-image: url(../imagenes/fondosfijos/campo1.png);
  opacity: 0.5;


}
.sobrenosotrostextos{
    
    display: flex;
    flex-direction: column;
    
}
.restodepagina{
    background-color:rgba(243, 237, 227, 0.349);
        position: relative;
       
        margin: 10px;
        border: 2px solid brown;
        /*display: flex;*/
        justify-content: center;

        
    }
 
   #longi{
        height: 50px;
        float: left;
    }
    .titulos{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .titulos h3{
        margin:0;
    }
    .titulos h2{
        margin:0;
        padding: 3px;
       
        color: brown;
    }
    #section1 p{
        margin:0;
        padding: 10px;
        text-align: center;
       
    }
    #section1 p2{
        margin:0;
        text-align: center;color: brown;
        font-weight: bold;
       
        animation-name: derechap2;
        animation-duration:1s ;
        display:inline-block;
       
        
    }
    @keyframes derechap2 {
        0%{opacity: 0;
            -webkit-transform: translateX(100px);
            transform: translateX(200px);
        color: cadetblue;}
        100%{ opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        color: brown;}
    }
    .imagenfamilia{
        align-items: center;
        min-height: 20vh;
        display: flex;
        justify-content: center;
        animation-name:opacidad ;
        animation-duration: 1s;
    }
    #imagenfamiliaa {
        max-height: 100%;
        max-width: 100%;
       
    }



@media screen and (min-width:1023px ) and (orientation: landscape){
    .sobrenosotrostextos{
        padding: 2vw;
        display: flex;
        flex-direction: row;
        
    }
}