* {
	margin:0;
	padding:0;
	
}/*quitarmargenes*/

@media screen and (max-width:800px ) {
	body {
		margin: 0px;
		padding: 0px;

		
	}
#mainequipos{
    min-height: 80vh;
	background-image: url(media/equipos.png);
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
   
}}